.about_us {
    .content {
        .title {
            h2 {
                font-family: $clash-display;
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 30px;
                @media(max-width: 767px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        p {
            padding-bottom: 25px;
        }
    }
}